@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
body {
  overflow-x: hidden;
}
header {
  padding-top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a{
  color: black !important;
}
.main-nav{
  padding-left: 2vw;
  padding-top:3vh;
}

.main-nav h2{
  font-size:24px !important;
  font-weight: 700;
  display: inline-block;
  margin-right: 5vw;
}

.main-nav h2:hover{
  text-decoration: underline;
  cursor: pointer;
}

.nav-img {
  width: 100px;
  height: 80px;
  margin: 0 auto;
}



.main-img {
  height: 100%;
  width: 100%;
}

.icons{
  padding-top: 3vh;
  visibility: hidden;
}

.icons span{
  margin-right: 4vw;
}
#main-form,
#main-spinner {
  padding-top: 2vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-spinner {
  display: none;
}

#main-form{
  display: flex;
}
h1 {
  font-family: "apercu-bold", "Open Sans", sans-serif;
  font-size: 2.5vw;
  margin-bottom: 2.5vw;
  color: #002855;
  font-weight: 600;
  text-transform: capitalize;
}

.baked-heading{
  margin-top:2vh;
  text-align: center;
  text-transform: uppercase;
}

.products{
}

.products .row{
  margin-left: -9vw;
  margin-bottom: 5vw;
}
.products .row .col img{
  transform: translateX(8vw);
  width:300px;
}

.products .row .col img:hover{
  cursor: pointer;
}

.product-img
#main-spinner {
  display: none;
}

/* productin */

.product-in .row .col img{
  width:350px;
  transform:translateX(10vw);
}

.product-in-heading{
  padding-top:3vw;
}

.product-in-heading h1{
  color:black;
  margin-bottom:0px !important;
}
.product-in-heading h3{
  margin-top:0px !important;
  font-weight: 800;
}

.stars{
  border-top-color: #C8C8C8;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-color: #C8C8C8;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-top:10px;
  padding-bottom: 10px;
}
.stars img{
  width:120px !important;
  height: 40px !important;
  display: inline-block;
  transform: translateX(0vw)!important;
}

.stars span{
  display: inline-block;
  font-size: 18px;
  font-weight: 800;
  margin-top:10px;
}

#main-spinner h1{
  font-size: 24px;
}
.stars .review{
  margin-left: 3vw;
  text-decoration: underline;
}

.desc{
  padding-left: 40px;
}

.desc div{
  display: inline-block;
}

.desc img{
  transform: translate(0px) !important;
  height: 40vh;
}

img.nurtion{
  height: 15vh;
  margin-top:10vh;
}

.buy{
  position: relative;
}
.buy button{
  display: inline-block;
  margin-right: 10px;
  width:20vw;
  color:white;
  height: 55px;
  font-weight: 800;
  outline: none;
  border:0px;

}

.buy-btn{
  background: #022639;
}
.buy-store{
  background:#B08D44;
}

.buy h5{
  color: #022639;
  font-weight: 800;
  position: absolute;
  left:30%;
  margin-top:3%;
}

.buy h3{
  margin-top: 10%;
  font-size: 20px;
  font-weight: 800;
}
.productdetails{
 display: block;
}
text {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  pointer-events: none;
}
#chart {
  width: 500px;
  height: 500px;
}
#question {
  position: absolute;
  width: 400px;
  height: 500px;
  top: 0;
  left: 520px;
}
#question h1 {
  font-size: 50px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.footer-social-links {
  font-size: 14px;
  text-align: center;
}
.footer-social-links a {
  width: 25px;
  height: 25px;
  line-height: 25px !important;
  position: relative;
  margin: 0 5px;
  text-align: center;
  display: inline-block;
  color: #111;

  -webkit-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  -moz-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  -o-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  -ms-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}
.footer-social-links a i,
.footer-social-links a span {
  position: relative;
  top: 2px;
  left: 1px;
}
.footer-social-links a:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #111;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);

  -webkit-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  -moz-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  -o-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  -ms-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}
.footer-social-links a:hover {
  color: #fff;
}
.footer-social-links a:hover:before {
  background: #111;
}


.product-details-list-sm, .product-details-sm{
  display:none;
}


.desc{
  margin-top:10vh;
}

.desc .col img {
  transform: translate(8vw) !important;
  height: auto;
  width: 100vw;
}


/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .main-nav{
    display: none;
  }

  .main-img {
    height: 40vh;
  }

  .nav-img{
    margin-bottom: 2vh;
  }

  .icons {
    padding-top: 3vh;
    display: none;
  }

  #main-form h1{
    font-size:24px;
    margin-top:3vh;
  }

  .baked-heading {
    margin-top: 2vh;
    text-align: center;
    text-transform: uppercase;
    font-size: 4vh;
  }

  .product-in{
    width:100vw;
    overflow: hidden;
  }

  .product-in-heading {
    padding-top: 3vh;
}

.product-in-heading h1 {
    display: none;
}

  .products .row .col img {
    transform: translateX(17vw);
    width: 70vw;
    margin-bottom: 20%;
}

  .product-in-heading h3 {
    margin: auto;
    font-weight: 800;
    margin-bottom: 2.5vh;
    transform: translateX(23%);
  }

  .stars {
    padding-left: 17%;
  }
  .desc {
    padding-left: 10px;
  }

  img.nurtion {
      height: auto;
      margin-top: 3vh;
      margin-left: 4vw;
      width: 75vw !important;
    }

.buy button {
    display: inline-block;
    margin-right: 10px;
    width: 100vw;
    color: white;
    height: 75px;
    font-weight: 800;
    outline: none;
    border: 0px;
    margin-top: 1vh;
}

.buy{
  margin-top:2vh;
}

.header-in{
  display: none;
}

.compare{
  display: none;
}

.product-details-lg{
  display: none;
}

.product-details-list-lg{
  display: none;
}

.product-details-sm{
  transform: translateX(8%);
  margin-top: 0% !important;
}
.product-details-list-sm{
  width: 100%;
  font-size:10px;
}


.products .row .col img {
    transform: translateX(17vw);
    width: 300px;
    margin-bottom: 20%;
}

.products{
  background-color:#EDE9DD;
  width:100vw;
  overflow:hidden;
}

#prize-text{
  font-size:14px;
}


}



/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
}
